/*
   以下都是树形菜单栏的样式设置
 */

.nav .toc-tree{

    list-style: none;
    font-size: 12px;
    /*font-weight: 500;*/
    line-height: 17px;

}


.nav .nav__toc {
    -webkit-animation: fade-in .3s ease-out forwards;
    animation: fade-in .3s ease-out forwards;
    opacity: 1;
    overflow-y: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 30px 0 10px;
    will-change: transform;
    -webkit-overflow-scrolling: touch;
}

.toc-tree__title-wrapper {
    position: relative;
}

.toc-tree__node--level_0 .toc-tree__title {
    padding-left: 26px;
}

.toc-tree__title--link, .toc-tree__title--link:visited {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #343434;
}
.toc-tree__title--child-anchor-selected, .toc-tree__title--have-childs {
    cursor: pointer;
}

.toc-tree__title {
    padding-top: 6px;
    padding-right: 5px;
    padding-bottom: 6px;
    outline: none;
    cursor: default;
    color: #343434;
    font-size: 14px;
    line-height: 19.25px;
}

.toc-tree__node--level_0 .toc-tree__expander {
    left: 3px;
}

.toc-tree__expander {
    position: absolute;
    top: 0;
    left: 3px;
    width: 14px;
    height: 100%;
    padding-left: 10px;
    cursor: pointer;
}

.toc-tree__expander-glyph {
    position: absolute;
    top: 14px;
    bottom: 0;
    width: 8px;
    height: 5px;
    content: "";
    color: #343434;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
}

/* 菜单项被选取的时候 */
.toc-tree__title--selected, .toc-tree__title--selected:visited {
    cursor: default;
    color: #343434;
    background: #f0f0f0;
}