<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表格样式</title>

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/table.css">
</head>
<body>

<div class="workspace">
    <table class="table table-hover">
        <thead>
        <tr>
            <th width="10">
                <input type="checkbox" class="ng-pristine ng-valid">
            </th>
            <th>ID</th>
            <th>账号</th>
            <th>昵称</th>
            <th>邮箱</th>
            <th>有效</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="10">
                <input type="checkbox" class="ng-pristine ng-valid">
            </td>
            <td>1</td>
            <td>yoyoyosiyu</td>
            <td>房辉家具</td>
            <td>yoyoyosiyu@126.com</td>
            <td>是</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td><input type="checkbox" class=""></td>
            <td colspan="5">
            </td>
        </tr>
        </tfoot>
    </table>
</div>

</body>
</html>